.top_bar{
    width: 100%;
    height: 45px;
    min-width: 950px;
    background-color: mediumaquamarine;
    border-bottom: 3px solid aquamarine;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: lemonchiffon;
}

.logo a{
    font-family: cursive,sans-serif;
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 6px;
    margin-left: 8px;
    text-shadow: red 0.8px 0.8px 0.8px;
    text-decoration: none;
}

.logo a:hover{
    text-shadow: pink 0.8px 0.8px 0.8px;
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    font-family: cursive,sans-serif;
}

nav a:hover{
    border-bottom: 3px solid yellow;
}

.wrapper{
    margin: 0px auto;
    position: relative; 
    top: 55px;
    padding: 0px 10px;
    width: 85%;
    min-width: 1100px;
}

.column{
    background-color: white;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 2px whitesmoke;
    z-index: -1;
}

.user_details{
    width: 290px;
    float:left;
    margin-bottom: 20px;
}

.user_details_left_right{
    margin-top: 30px;
    font-family: cursive,sans-serif;
    width: 125x;
    position: absolute;
    display: inline-block;
}

.user_details img{
    height: 150px;
    margin-right: 15px;
}

.main_column{
    float: right;
    width: 71.5%;
    z-index: -1;
    min-height: 165px;
}

.post_form{
    width: 100%;
    padding: 2px;
}

.post_form textarea{
    width: 83%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid whitesmoke;
    font-size: 15px;
    padding: 5px;
}

textarea:focus{
    outline: none;
}

.post_form input[type="submit"]{
    font-family: cursive,sans-serif;
    border-radius: 5px;
    border: none;
    width: 10%;
    height: 70px;
    text-shadow: #000 0.6px 0.6px 0.6px;
    font-size: 20px;
    background-color: aquamarine;
    color: white;
    outline: 0;
    position: absolute;
    margin: 0;
}

.post_form input[type="submit"]:active{
    padding: 5px 5px 5px 5px;
    background-color: aliceblue;
    color: aquamarine;
}

.status_post{
    width: 90%;
    padding: 0px 15px;
    font-size: 17px;
    min-height: 75px;
}

.post_profile_pic{
    float: left;
    margin-right: 10px;
}

